:root {
    /* colors */
    --background-color: #FAFBFF; 
    --background-company:#F5F6F8;
    --color1 : #ABC8D2;
    --gradient-start: #62BADA;
    --gradient-end: #C9E7F2;
    --primary-black:  #000000;
    --primary-white: #FFFFFF;
    

    /* bottons- color */
    --purple :#4F46BA;
    --purple2 : #3734A9;
    --green : #22D497;


    /* text */
    --orange : #E34826;
    --dark: #181433;
    --darkgrey :#3D3D3D;
    --lightpurple1: #757095;
    --lightpurple2 :#64607D;
    --lightpurple3 : #505887;
    --darkcream: #CFCFCF;
    --blue: #002F86;
    --skydark :#ABC8D2;
    --yellow:#FFCC00; 


  }


*, *::after, *::before{
    
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope' , sans-serif;
}

.wrapper{
    max-width: 1202px;
    margin: 0 auto;
    
}

/* header */

header{
    background: linear-gradient(180deg , var(--gradient-start) , 0% , var(--gradient-end));
    height: 100vh;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
}

nav .logo{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-black);
}

nav ul
{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    
}

nav ul li a{
    font-family: 'Manrope' , sans-serif;
    font-weight: 400;
    size: 14px;
    text-decoration: none;
    color: var(--primary-black);
    

}

nav ul li a img 
{
    color: var(--primary-black);
    margin-left: 2px;
    transform: translateY(-20%);
}

nav .register
{
    display: flex;
    width: 231px;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    
}

nav .register a
{
    text-decoration: none;
    color: var(--primary-black);
}

.btn,nav .register .btn{
    background-color: var(--purple);
    color: var(--primary-white);
    padding: 14px 32px ;
    font-size: 14px;
    font-weight: 400;
    
}

a{
    text-decoration: none;
}


/* landing-container */
.landing-container
{
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    

}

.landing-container .lc-left
{
    width: 646px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -50px;
}
.landing-container .lc-left h1
{
font-family: 'Manrope' , sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: var(--primary-black);   
  /* line-height: 80px; */
  width: 646px;
}

.landing-container .lc-left p
{
    font-family: 'Manrope' , sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:  #64607D;   
    /* line-height: 30px; */
    
}

.btn.rounded
{
    border-radius: 24px;
    font-size: 16px;
}

.landing-container .lc-left ol,.landing-container .lc-left ul
{
    padding: 0;
    display: flex;
    align-items: center;
    align-content: stretch;
    list-style: none;
    gap: 80px;
}

.landing-container .lc-left ul
{gap: 20px;}

.landing-container .lc-left ol li
{
    display: flex;
    gap: 8px;
    align-items: center;
    
}

.landing-container .lc-left ol li p 
{
    color:  #3734A9;
    font-weight: 400;
    font-size: 17px;
}
.landing-container .lc-left ul li
{
   
    color: #757095;
    font-size: 17px;
    font-weight: 400;
}

.landing-container .lc-left ul li img{
    transform: translateY(20%);
}

.landing-container .lc-right
{
    align-self: flex-end;
    position: relative;
    width: auto;
    display: flex;
    gap: 0;
    align-items: flex-end;
    /* height: inherit; */
    
    
}

.landing-container .lc-right .handl
{
    
    height: 660px;
    position: absolute;
    z-index: 10;
    
}

.landing-container .lc-right .handr
{
    /* width: 321px; */
    height: 600px;
    position: relative;
    left: 45px;
    top: 85px;

    z-index: 9;
}


.landing-container .lc-right .floating
{
    position: relative;
    bottom:  330px;
    right: 300px;
    display: flex;
    
}

.landing-container .lc-right .floating img
{
    height: 430px;
    transform: rotate3d(10);
}

.landing-container .lc-right .floating .greyround
{
  position: relative;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #454545;
  right: 280px;
  top: 150px;
  
}

.landing-container .lc-right .floating .greyround img {
    height: 65px;
    width: 65px;
    /* top: 50%; Center vertically */
  /* left: 50%; Center horizontally */
  transform: translate(50%, 50%); 
}

.container{
    
    /* position: relative; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
   background-color: var(--background-company);
   padding: 50px 0;
}

.container p{
    font-family: 'Manrope',sans-serif;
font-weight: 400;
font-size: 20px;
color: var(--primary-black);

}

 .companylogo
{  
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    /* Centers the content horizontally */
    justify-content: space-evenly;
    gap: 49px;
    align-items: center;
}

 .companylogo img
{
    width: 136px;
    height:auto ;
}