:root {
    /* colors */
    --background-color: #FAFBFF; 
    --background-company:#F5F6F8;
    --color1 : #ABC8D2;
    --gradient-start: #62BADA;
    --gradient-end: #C9E7F2;
    --primary-black:  #000000;
    --primary-white: #FFFFFF;
    
    --fontfamily : 'Manrope' , sans-serif;
    /* bottons- color */
    --purple :#4F46BA;
    --purple2 : #3734A9;
    --green : #22D497;


    /* text */
    --orange : #E34826;
    --dark: #181433;
    --darkgrey :#3D3D3D;
    --lightpurple1: #757095;
    --lightpurple2 :#64607D;
    --lightpurple3 : #505887;
    --darkcream: #CFCFCF;
    --blue: #002F86;
    --skydark :#ABC8D2;
    --yellow:#FFCC00; 


  }


*, *::after, *::before{
    
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope' , sans-serif;
    background-color: var(--background-color);

}

.wrapper{
    max-width: 1202px;
    margin: 0 auto;
    height: 100vh;
    
}

/* header */

header{
    background: linear-gradient(180deg , var(--gradient-start) , 0% , var(--gradient-end));
    height: 100vh;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
}

nav .logo{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-black);
}

nav ul
{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    
}

nav ul li a{
    font-family: 'Manrope' , sans-serif;
    font-weight: 400;
    size: 14px;
    text-decoration: none;
    color: var(--primary-black);
    

}

nav ul li a img 
{
    color: var(--primary-black);
    margin-left: 2px;
    transform: translateY(-20%);
}

nav .register
{
    display: flex;
    width: 231px;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    
}

nav .register a
{
    text-decoration: none;
    color: var(--primary-black);
}

.btn,nav .register .btn{
    background-color: var(--purple);
    color: var(--primary-white);
    padding: 14px 32px ;
    font-size: 14px;
    font-weight: 400;
    
}

a{
    text-decoration: none;
}


/* landing-container */
.landing-container
{
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */

}

.landing-container .lc-left
{
    width: 646px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -50px;
}
.landing-container .lc-left h1
{
font-family: 'Manrope' , sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: var(--primary-black);   
  /* line-height: 80px; */
  width: 646px;
}

.landing-container .lc-left p
{
    font-family: 'Manrope' , sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:  #64607D;   
    /* line-height: 30px; */
    
}

.btn.rounded
{
    border-radius: 24px;
    font-size: 16px;
}

.landing-container .lc-left ol,.landing-container .lc-left ul
{
    padding: 0;
    display: flex;
    align-items: center;
    align-content: stretch;
    list-style: none;
    gap: 80px;
}

.landing-container .lc-left ul
{gap: 20px;}

.landing-container .lc-left ol li
{
    display: flex;
    gap: 8px;
    align-items: center;
    
}

.landing-container .lc-left ol li p 
{
    color:  #3734A9;
    font-weight: 400;
    font-size: 17px;
}
.landing-container .lc-left ul li
{
   
    color: #757095;
    font-size: 17px;
    font-weight: 400;
}

.landing-container .lc-left ul li img{
    transform: translateY(20%);
}

.landing-container .lc-right
{
    align-self: flex-end;
    position: relative;
    width: auto;
    display: flex;
    gap: 0;
    align-items: flex-end;
    padding-left: 30px;
    /* height: inherit; */
    
    
}

.landing-container .lc-right .handl
{
    
    height: 660px;
    position: absolute;
    z-index: 10;
    
}

.landing-container .lc-right .handr
{
    /* width: 321px; */
    height: 600px;
    position: relative;
    left: 45px;
    top: 85px;

    z-index: 9;
}


.landing-container .lc-right .floating
{
    position: relative;
    bottom:  330px;
    right: 300px;
    display: flex;
    
}

.landing-container .lc-right .floating img
{
    height: 430px;
    transform: rotate3d(10);
}

.landing-container .lc-right .floating .greyround
{
  position: relative;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: #454545;
  right: 280px;
  top: 150px;
  
}

.landing-container .lc-right .floating .greyround img {
    height: 65px;
    width: 65px;
    /* top: 50%; Center vertically */
  /* left: 50%; Center horizontally */
  transform: translate(50%, 50%); 
}


.landing-container .lc-right .style1
{
    position: absolute;
    right: 240px;
    bottom: -110px;
}

.landing-container .lc-left .style1
{
    height: 100px;
    width: 100px;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate3d(-50px,-50px,0);
}


.landing-container .lc-right .style1.top
{
   
    top: -100px; 
}

.container{
    
    /* position: relative; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
   background-color: var(--background-company);
   padding: 50px 0;
}

.container p{
    font-family: 'Manrope',sans-serif;
font-weight: 400;
font-size: 20px;
color: var(--primary-black);

}

 .companylogo
{  
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    /* Centers the content horizontally */
    justify-content: space-evenly;
    gap: 49px;
    align-items: center;
}

 .companylogo img
{
    width: 136px;
    height:auto ;
}


/* -------------------- */
.prop-section-heading
{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    padding: 70px 20px 30px 20px;
}

.prop-section-heading .left{
    width: 40%;
    
    
}

.prop-section-heading .left h1{
    font-family: var(--fontfamily);
    font-weight: 800;
    font-size: 50px;
    color: var(--primary-black);
    line-height: 66px;
}

.prop-section-heading .left p{
    font-family: var(--fontfamily);
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-black);
    line-height: 29px;
}


.down-left .testimonials ,.testimonial {
    background-color: #c4c4c4;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    font-size: 14px;
}

.testimonial {
   max-width: 400px;
}
.down-left .testimonials .quote-icon, .quote-icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .quote-icon img {
    width: 20px;
    height: 20px;
} */

.down-left .testimonials .testimonial-text ,.testimonial-text {
    font-family: var(--fontfamily);
    font-weight: 600;
    size: 15px;
    line-height: 22px;
    color: var(--primary-black);
}

.down-left .testimonials .testimonial-person , .testimonial-person {
    font-family: var(--fontfamily);
    font-weight: 600;
    size: 15px;
    line-height: 22px;
    color: var(--primary-black);
}




.card-container {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    margin: 18px 0;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: space-between;
    
}


.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 340px;
    border: #DBE4E9 solid 1px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-header {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    align-self: flex-start;
}


.card-icon {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    position: relative;
}

.card-icon::before {
    
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 10px;
    background-color: var(--primary-black);
}


.card-title {
    font-size: 31px;
    font-weight: 800;
    color: var(--primary-black);
    margin: 20px 5px;
}


.card-text {
    font-size: 16px;
    color: #64607D;
    line-height: 1.5;
}

/* ----------------- */
.wrapper.extended{
    height: auto;
    position: relative;
    z-index: 10;
    padding-bottom: 110px;

}

.transaction-wrapper{

    padding-top: 80px;
    display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 150px;
    /* max-width: 400px; */
}

.top-left {
    position: relative;
    /* width: 500px; */
    /* height: 300px; */
    background-color: #e3f4ff;
    border-radius: 20px;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    padding: 20px;
}
.ellipse {
    position: absolute;
    border-radius: 50%;
    z-index: 9;
    overflow: hidden;
    

}
.ellipse.orange {
    width: 200px;
    height: 200px;
    background-color: #e3876d;
    top: -50px;
    left: -50px;

}

.ellipse.purple {
    width: 200px;
    height: 200px;
    background-color: #5b47c3;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);

}
.ellipse.green {
    z-index: 14;
    width: 220px;
    height: 220px;
    background-color: #8ce6c9;
    bottom: -60px;
    left: -60px;

}

.top-left .style1
{
    position: absolute;
    top: -15px;
    right: -23px;
    z-index: 9999;
}

.overflow-control
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;

}

.transaction-card

{
    display: flex;
    align-items: center;
    /* justify-content: safe; */
    gap: 30px;
    background-color: var(--primary-white);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 160%;
    transform: translateX(-20%);
    z-index: 200;
    position: relative;
    overflow: visible;
}




.transaction-card-container .transaction-card:nth-child(2)
{
position: relative;
left: 120px;
}    
.transaction-card-container .transaction-card:nth-child(3)
{
    position: relative;
    left: 75px; 
}




.profile-pic
{
    z-index: 11;
}

.amount
{
    background-color: #d6d9ea;
    color: #3734A9;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
    display: inline;
    padding: 5px 10px;
    border-radius: 25px;
    z-index: 11;
    
}

.description
{
    font-weight: 400;
    font-size: 14px;
    color: #757095;
    padding-top: 6px;
}

.top-right
{display: flex;
flex-direction: column;
align-items: start;
align-self: normal;
justify-content: space-around;
padding: 40px;
}

.top-right a , .down-left a
{
    font-weight: 700;
    size: 14px;
    color: #3734A9;
}

.top-right h1 , .down-left h1{
    font-weight: 800;
    font-size: 40px;
    color: var(--primary-black);
}

.top-right p, .top-right ul , .down-left p {
    font-weight: 400;
    font-size: 16px;
    color: #64607D;
}

.line
{
    width: 100%;
    height: 2px;
    background-color: #c4c4c4;
}

.top-right ul 
{
    display: flex;
    list-style: none;
    flex-direction: column;
}



.top-right ul li img
{
    height: 20px;
    width: 20px;
    transform: translate3d(-5px,3px,0);
}

.down-left
{
    display: flex;
    flex-direction: column;
    overflow: visible;
    justify-content: flex-start;
}

.down-left h1
{width: 80%;}

.down-left p 
{width: 70%;}

.down-left .testimonials
{
    margin-top: 30px;
    max-width: 90%;
    padding: 10px,80px , 5px, 80px;
    /* background-color: #000000; */
}

.down-left .testimonials .testimonial-text
{
    width: 100%;
}

.down-right
{

    background-color: #DBF1FA;
    position: relative;
    display: flex;
    align-self: flex-end;
    width: 75%;
    height: 90%;
    margin-left: 10%;
   

}

.down-right .stat{
    display: inline-block;
    background-color: orange;
    padding: 3px 12px;
    background-color: var(--primary-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    line-height: 7px;
    position: absolute;
    left: -100px;
    bottom: 50px;
    z-index: 21;
}



.down-right .stat p{
font-weight: 400;
font-size: 19.42px;
color: var(--primary-black);

}

.down-right .stat .dollar{
font-weight: 700;
font-size: 22.19px;
color: var(--primary-black);
}

.down-right .stat .dollar span{
    font-size: 18.03px;
    font-weight: 400;
color: #00E1F0;
}


.down-right .credit-card{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: auto;
    z-index: 20;
}

.down-right .dashed{
    position: absolute;
    bottom: 0;
    width: 90px;
    height: auto;
    z-index: 20;
    left: -10%;
    bottom: 65%;
}

/* ---------------- */

.features-container
{
    background-color: #C9E7F2;
    

}

.features-container .wrapper
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    align-self: flex-start;
    position: relative;
}

.features-container .wrapper .style1
{
    position: absolute;
    bottom: 80px;
    left: -10%;
}

.features-container h1 
{
    font-weight: 800;
    font-size: 71px;
    color: var(--primary-black);
    width: 80%;
    line-height: 50px;

}

.features-container p
{
    font-weight: 400;
    font-size: 16px;
    width: 45%;
    color: var(--primary-black);
    /* margin-bottom: 30px; */
    
}


.features-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-template-rows: auto auto; /* Three equal columns */
     /* Two rows of automatic height */
    gap: 20px; /* Space between grid items */
     /* Max width of the grid container */
    /* margin: 0 auto; Center the grid container */
    padding: 20px 20px 20px 0;
}

.features-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border: #ABC8D2 1px solid;
    justify-content: center;
    padding: 10px;
    /* aspect-ratio: 1; */
    
}

.features-card img {
    width: 40px;
    margin-bottom: 15px;
    color: var(--primary-black);


}

.features-title {
    font-size: 18px;
    font-weight: 800;
    color: var(--primary-black);
    margin: 20px 0 20px 5px;
    width: 80%;
    
}

.features-description {
    font-size: 12px;
    color: #666666;
    margin: 5px 20px 5px 0px;
    width: 80%;


    /* width: 90%; */
}


.features-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Adjust grid items */
.features-card.one {
    grid-row: span 2; /* Span across two columns */
    
}

.features-card.two {
    grid-row: span 2; /* Span across one column */
    

}
.features-card.three {
    grid-column: 3 ; /* Span across two columns */
    
}

.features-card.four {
    grid-column: 3; /* Span across one column */
    

}
.wrapper.testimonial-container
{
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 z-index: 33;
 /* overflow: hidden; */
}

.testimonials{
 overflow: hidden;
}

.wrapper.testimonial-container .style1 
{
    position: absolute;
    right: 200px;
    top: 150px;
    height: 120px;
    z-index: 40;
    transform: rotateX(30deg);
}


.wrapper.testimonial-container h1
{
 font-weight: 800;
 font-size: 66px;
 color: var(--primary-black);
 /* background-color: #51617d; */
 margin-bottom: -5px;
}

.wrapper.testimonial-container p 
{
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-black);
    width: 50%;
}


.wrapper.testimonial-container .testimonial-light-card p 
{
    width: 100%;
}




.tc-container{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}


.testimonial-light-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
    
}

.testimonial-light-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border: 1px solid #c4c4c4;
    /* overflow: hidden; */
    position: relative;
    width: 690px;
}

.testimonial-light-quote {
    padding: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.we{
    width: 50px;
}
.quote-light-icon {
    font-size: 50px;
    /* display: inline-block; */
    /* border-radius: 50%; */
    color: var(--primary-white);
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.quote-light-text {
    font-weight: 800;
    font-size: 18px;
    margin: 10px 100px 0 40px;
}

.quote-light-author {
    font-size: 16px;
    font-weight: 800;
    margin: 10px 100px 0 40px;
    color: #666;
}

.testimonial-light-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* width: 50%; */
}
.testimonial-light-image img {
   /* margin-right: 30px; */
}


